* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #dce1d8;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}



/* header */

.header-menu {
    width: 100%;
    height: auto;
    background-color: #fe9898;
}

.fa-money-check-alt {
    margin: 0 15px;
} 

.header-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

/* main card */

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.converter-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.converter-card {
    width: 100%;
    padding: 20px;
    background-color: #fe9898;
    height: auto;
    margin: 20px auto 0;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 3px;
    text-transform: uppercase;
    text-align: left;
}

.card-subtitle {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 20px;
}

.courses {
    display: flex;
    flex-direction: column;
}

.course-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.course-item-title {
    font-size: 20px;
    align-items: center;
}

.course-item-img {
    height: 15px;
    margin-right: 5px;
}

.course-item-value {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.calculator-card {
    width: 100%;
    padding: 20px;
    background-color: #fe9898;
    height: auto;
    margin: 20px auto 0;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.calculator-card:last-child {
    margin-right: 0;
}

.calculator-card-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.calculator-card-item-text {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calculator-item-img {
    height: 15px;
    margin-right: 5px;
}

input {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    border: none;
    overflow: visible;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.converter-row {
    display: flex;
    justify-content: space-between;
}

.conv-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.conv-col:last-child {
    padding-right: 0;
    padding-left: 10px;
}

label {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control {
    display: block;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result {
    font-weight: 700;
    color: #000;
}

